* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.row {
  /* display: flex;
  justify-content: center; */
}
.box {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100px;
  width: 100px;
  font-size: 36px;
  border: 1px solid black;
}
